:root {
    --backgroud-color: #F5F3F4;
    --backgroud-form-color: #F5F3F4;
    --backgroud-btn-color: #9FC1D0;
    --backgroud-btn-circle-color: #F5F3F4;
    --backgroud-btn-circle-active-color: #457A9A;
    --text-color: #435058;
    --text-h1-color:#457A9A;
    --text-btn-color: white;
    --text-btn-reset-color:#9FC1D0;
    --text-btn-circle-color:#457A9A;
    --border-btn-color:#9FC1D0;
    --borde-btn-circle-color: #457A9A;
    --box-shadow-color: rgb(0 0 0 / 0.2);
}


* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    background-color: var(--backgroud-color);
}

main {
    width: 100vw;
    height: 100vh;   
}

#container {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: center;
    width:90%;
    margin: 3rem auto;
}

/* Estilo do formulário */

form {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud-form-color); 
    width: 30rem;   
    margin: 0.5rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px var(--box-shadow-color);
}

form h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--text-h1-color);
    font-size: 1.8rem;
}

label {
    color: var(--text-color);
}

form input {
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;   
}

form textarea {
    border: none;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    resize: none;
}

.btn {
    background-color: var(--backgroud-btn-color);
    font-size: 1.2rem;
    width: 20rem;
    align-self: center;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;    
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem; 
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase; 
    color: var(--text-btn-color);
    letter-spacing: 0.1rem;
    border: 2px solid var(--border-btn-color);  
    cursor: pointer; 
}
.btn[type="reset"] {
    margin-top: 0.2rem;
    background-color: var(--text-btn-color);
    color: var(--text-btn-reset-color);
    border: 2px solid var(--border-btn-color);
}




/* Estilo dos cards do article */

#card-container {
    margin: 0.5rem;
    max-width: 50rem;
}

#card-container .card {
    box-shadow: 0 3px 10px var(--box-shadow-color);
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 2.0rem; 
    border-radius: 1rem;
}
#card-container .card:last-of-type {
    margin-bottom: 0;
}


#card-container .card img {
    width: 6rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px var(--box-shadow-color);
}

#card-container .card-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
}

#card-container .card-div h3 {
    margin: 0.5rem 0;    
}

#card-container .card-div p {
    font-size: 0.8rem;
}
#card-container .card-div span {
    font-weight: bolder;  
    font-size: 1.1rem;
}

/* Circular button */

.div-btn-circle {
    justify-content: flex-end;
}

.btn-circle {
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid;
    background-color: var(--backgroud-btn-circle-color);
    color: var(--text-btn-circle-color);
    border-radius: 50%;
    text-align: center;
    font-size: 1.0rem;
    cursor: pointer;
    transition: .4s;
}

/* Active para mobile - colocar hover para desktop */
.btn-circle:active {
    color: var(--text-btn-color);
    background-color: var(--backgroud-btn-circle-active-color);
    border: 2.5px solid var(--borde-btn-circle-color);
    transform: scale(1.2);
    font-size: 1.2rem;
}


#card-container  .adicionar{
    margin-left: 2rem;     
}

@media (max-width: 768px) {
   .btn{
        width: 24rem;
    }
}
