* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: #435058;
}

body {
    background-color: #F5F3F4;
}

main {
    width: 100vw;
    height: 100vh;   
}

#container {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: center;
    width:90%;
    margin: 3rem auto;
}

/* Estilo do formulário */

form {
    display: flex;
    flex-direction: column;
    background-color: #F5F3F4; 
    width: 30rem;   
    margin: 0.5rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

form h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: #457A9A;
    font-size: 1.8rem;
}

label {
    color: #435058;
}

form input {
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;   
}

form textarea {
    border: none;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    resize: none;
}

.btn {
    background-color: #9FC1D0;
    font-size: 1.2rem;
    width: 20rem;
    align-self: center;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;    
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem; 
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase; 
    color: white;
    letter-spacing: 0.1rem;
    border: 2px solid #9FC1D0;  
    cursor: pointer; 
}
.btn[type="reset"] {
    margin-top: 0.2rem;
    background-color: white;
    color: #9FC1D0;
    border: 2px solid #9FC1D0;
}




/* Estilo dos cards do article */

#card-container {
    margin: 0.5rem;
    max-width: 50rem;
}

#card-container .card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 2.0rem; 
    border-radius: 1rem;
}
#card-container .card:last-of-type {
    margin-bottom: 0;
}


#card-container .card img {
    width: 6rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#card-container .card-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
}

#card-container .card-div h3 {
    margin: 0.5rem 0;    
}

#card-container .card-div p {
    font-size: 0.8rem;
}
#card-container .card-div span {
    font-weight: bolder;  
    font-size: 1.1rem;
}

/* Circular button */

.div-btn-circle {
    justify-content: flex-end;
}

.btn-circle {
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid;
    background-color: #F5F3F4;
    color: #457A9A;
    border-radius: 50%;
    text-align: center;
    font-size: 1.0rem;
    cursor: pointer;
    transition: .4s;
}

/* Active para mobile - colocar hover para desktop */
.btn-circle:active {
    color: white;
    background-color: #457A9A;
    border: 2.5px solid #457A9A;
    transform: scale(1.2);
    font-size: 1.2rem;
}


#card-container  .adicionar{
    margin-left: 2rem;     
}

@media (max-width: 768px) {
   .btn{
        width: 24rem;
    }
}
